body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/logic_background1.jpg'); /* Add the path to your background image */
    background-size: cover;
    background-position: center;
}

.login-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Adding a semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
